</br><h2>Create New Fan Sign In</h2>
<ul>
<%= form_for @guest do |f| %>
  <li><%= f.label :name %>
  <%= f.text_field :name %></li>
  <li><%= f.label :age %>
  <%= f.text_field :age %></li>
  <li><%= f.label :city %>
  <%= f.text_field :location %></li>
  <li>Profile Picture URL: <%= f.text_field :picture %></li>
  <li><%= f.label :username %>
  <%= f.text_field :username %></li>
  <li><%= f.label :password %>
  <%= f.text_field :password_digest %></li>
  <%= f.submit %>
<% end %>
</ul>
