<h2><%= @guest.name %></br></h2>
<img src=<%=@guest.picture%> width="100" height="100"></br>
Age: <%= @guest.age %></br>
Location: <%= @guest.location %></br>
Number Of Shows Attending: <%=@guest.shows.count%></br>

<ul>
<%@guest.shows.each do |show|%>
<h3>Show Name: <%= show.name %></h3>
<li>Show Location: <%= show.venue.location %></li>
<li>Show Date: <%= show.date.strftime("%B %d, %Y") %> at <%= show.date.strftime("%l%P")%></li>
<li><%= link_to "Sell Ticket"%></li></br>

<% end %>
</ul>
