</br><h2>Create a New Band Sing In</h2>
<ul>
<%= form_for @band do |f| %>
  <li><%= f.label :name %>
  <%= f.text_field :name %></li>
  <li><%= f.label :genre %>
  <%= f.text_field :genre %></li>
  <li>Band Members: <%= f.text_field :bandmates %></li>
  <li><%= f.label :username %>
  <%= f.text_field :username %></li>
  <li><%= f.label :password %>
  <%= f.text_field :password_digest %></li>
  <li>Image URL: <%= f.text_field :picture %></li>
  <li><%= f.label :bio %>
    <%= f.text_area :bio %></li>
  <%= f.submit %>
<% end %>
</ul>
