<html>
  <body>
    <div id="show-band">
    </br>
    <%if @signed_in %>
      <%= "You're Signed In As #{session[:user]["name"]}. You must sign out to create a new account!" %>
    <% end %>

      <img src=<%=@band.picture%> width="100" height="100"></br>
      <h2><%= @band.name %></h2>
      Members: <%=@band.bandmates.delete('\"')%></br>
      <%=@band.shows.count%> Upcoming Shows</br>
      Bio: <%=@band.bio%></br>
      Genre: <%=@band.genre%></br>
    </br></br>
    <a href=<%="#{@band.tour_route}"%>>View Tour Route:</br><%= image_tag ("usa.jpg"), id: "tour_route" %></a>
      <h3>Upcoming Shows:</h3>
        <ul id="list">
        <%@band.shows.each do |show|%>
        <li>Name: <%= link_to show.name, show_path(show.id) %></li>
        <li>Location: <%= show.venue.location %></li>
        <li>Date: <%= show.date.strftime("%B %d, %Y") %> at <%= show.date.strftime("%l%P")%></li>
        <li>Tickets Sold: <%= show.tickets.count %>
          <% if session[:user] != nil%>
            <% if session[:user]["id"].to_i == show.band_id && session[:user]["bandmates"]%>
              <%= link_to "Cancel This Show", show_path(show.id), method: "delete" %>
            <% end %>
          <% end %>
        </br></br>
        <% end %>
        </ul>
    </div>





    <% if session[:user] != nil %>
      <% if session[:user]["username"] == @band.username %>
        <%= link_to "My Stats",bands_analytics_path(@band) %>
      <% end %>
    <% end %>



  </body>
</html>
