<h2><%= @show.name %></br></h2>
<%= link_to @show.band.name, band_path(@show.band.id) %></br>
Tickets Sold: <%= @show.tickets.count %></br>
<%= link_to @show.venue.name.capitalize, venue_path(@show.venue.id) %></br></br>
<%= link_to "Buy Ticket", new_show_ticket_path(@show) %>
</br></br>
<div>
  Guest List:</br>
  <div class="ui five column relaxed grid" id="show_username">
    <% @show.guests.each do |guest|%>
    <div class="column">







        <div class="ui card">
          <div class="image">
            <img src="<%=guest.picture%>">
          </div>
          <div class="content">
            <%=link_to guest.username, guest_path(guest.id), class: "header"%>
            <div class="meta">
              <span class="date"><a href= <%="https://www.google.com/maps/place/#{guest.location.split(" ").join("")}"%>><%=guest.location%></a></span>
            </div>
            <div class="description">
              <%="Age: #{guest.age}" %>
            </div>
          </div>
          <div class="extra content">
            <a>
              <i class="user icon"></i>
              <%= "#{guest.shows.count} upcoming shows" %>
            </a>
          </div>
        </div>








    </div>
    <% end %>
  </div>
</div>
