<!DOCTYPE html>
<html>
  <head>
    <title>Mod2project</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div id="site-nav">

    <%= link_to "Sign In", sessions_new_path%>

    <%= link_to "Home", "/" %>
    <%= link_to "Shows", shows_path %>
    <%= link_to "Bands", bands_path %>
    <%= link_to "Venues", venues_path %>
    <%= link_to "Sign Out", sessions_logout_path %></br>
    <% if session[:user] %>
      Logged in as:

      <%= link_to session[:user]["name"], (session[:user]["bandmates"] ?
      band_path(session[:user]["id"]): guest_path(session[:user]["id"])) %>
    <% end %>
  </div>

    </br></br>
    <%= yield %>

  </body>
</html>
